@font-face {
    font-family: 'Oswald-Regular';
    src: url('fonts/Oswald-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('fonts/Ethnocentric.ttf'); /*URL to font*/
}

@keyframes buttonHover {
    from {background: rgba(255, 255, 255, .1);}
    to {background: rgba(255, 255, 255, .2);}
}

@keyframes buttonHoverOut {
    from {background: rgba(255, 255, 255, .2);}
    to {background: rgba(255, 255, 255, .1);}
}

@keyframes blurEnd {
    from {
      filter: blur(20px);
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
    }
    to {
      filter: blur(0px);
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
}

@keyframes blurStart {
    from {
      filter: blur(0px);
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
    to {
      filter: blur(20px);
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
    }
}

@keyframes textAppear {
    from {
      color: rgba(255, 255, 255, 0);;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
    }
    to {
      color: rgba(255, 255, 255, 1);;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
}


.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*pointer-events:none;*/
}

.gameViewport {
  margin:0;
  padding: 0;
  overflow: hidden;
  /*background: #000000;*/
}

.ui{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  pointer-events: none;
}

.blurContainer{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blurEnd{
  animation-name: blurEnd;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.blurStart{
  animation-name: blurStart;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.blur{
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
}

.button{
  width: 200px;
  height: 40px;
  margin: auto;
  position: absolute;
  background: rgba(255, 255, 255, .05);
  animation-name: buttonHoverOut;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.button:hover{
  animation-name: buttonHover;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  cursor: pointer; cursor: hand;
}

.buttonText{
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 10px;
  color: white;
}

.Ethnocentric{
  font-family: 'Ethnocentric'
}

.Oswald{
  font-family: 'Oswald-Regular'
}

.titleText{
  text-align: center;
  position: absolute;
  letter-spacing: 40px;
  font-size: 100px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.scoreText{
  text-align: center;
  position: absolute;
  letter-spacing: 10px;
  font-size: 50;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.textAppear{
  animation-name: textAppear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
