@font-face {
    font-family: 'Oswald-ExtraLight';
    src: url('fonts/Oswald-ExtraLight.ttf');
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('fonts/Ethnocentric.ttf');
}

@keyframes buttonHover {
    from {opacity: 0.5; color: #fff}
    to {opacity: 1; color: #fff}
}

@keyframes buttonHoverOut {    
    from {opacity: 1; color: #fff}
    to {opacity: 0.5; color: #fff}
}

@keyframes blurEnd {
    from {
      filter: blur(20px);
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
    }
    to {
      filter: blur(0px);
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
}

@keyframes blurStart {
    from {
      filter: blur(0px);
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
    to {
      filter: blur(20px);
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
    }
}

@keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

@keyframes settingsFadeIn {
    from {
      bottom: -10%;
      opacity: 0;
    }
    to {
      bottom: 7%;
      opacity: 1;
    }
}

@keyframes textAppear {
    from {
      color: rgba(255, 255, 255, 0);;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
    }
    to {
      color: rgba(255, 255, 255, 1);;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
}

@keyframes textBlink {
    from {
      color: rgba(255, 255, 255, 0.5);;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
    }
    to {
      color: rgba(255, 255, 255, 1);;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}

.allPointerEvents {
  pointer-events: all;
}

.noPointerEvents {
  pointer-events: none;
}

.gameViewport {
  margin:0;
  padding: 0;
  overflow: hidden;
  background: #000000;
}

.ui{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
}

.fullScreen{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blurEnd{
  animation-name: blurEnd;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.blurStart{
  animation-name: blurStart;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.fadeout{
  animation-name: fadeout;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.blur{
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
}

.button{
  width: 200px;
  height: 40px;
  margin: auto;
  pointer-events: all;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;  
  animation-name: buttonHoverOut;
  background-image: url("gfx/button_background.png");
  background-size: contain;
  filter: drop-shadow(3px 3px 3px #000);  
}

.buttonHover:hover{
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-name: buttonHover !important;
  cursor: pointer; cursor: hand;  
}

.textDark{
  color: #666666;
}

.textLight{
  color: #ffffff;
}

.buttonText{
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 3px;
}

.Ethnocentric{
  font-family: 'Ethnocentric'
}

.Oswald{
  font-family: 'Oswald-ExtraLight'
}

.titleText{
  text-align: center;
  letter-spacing: 7px;
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.smallText{
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.mediumText{
  text-align: center;
  letter-spacing: 4px;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.textAppear{
  animation-name: textAppear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.textBlink{
  animation-name: textBlink;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease
}

.centerVertical{
  position: relative;
  top: 65%;
  transform: translate(0, -50%);
}

.centerHorizontal{
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  word-wrap: normal;
  pointer-events: none;
}

.flexColumn{
  display: flex;
  flex-flow: column wrap;
  /* this indicates, when a new "column" will be started */
  height: 200px;
  align-content: flex-start;
}

.flexContent{}

.reactContent{
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.verticalSpacing{
  margin-bottom: 20px;
}

.bottomCenter{
  bottom: 100px;
  position: fixed;
  left: 0;
  right: 0;
}

.topCenter{
  top: 200px;
  position: fixed;
  left: 0;
  right: 0;
}

.topRightCorner{
  top: 10px;
  right: 10px;
  position: fixed;
}

.scalable{
  width: 100%;
  height: 10%;
  font-size: 50%;
}

.hud{
  position: fixed;
  z-index: 1
}

.canvasHud{
  position: absolute;
}

.ammoLoss-enter {
  color: red !important;
}

.ammoLoss-enter.ammoLoss-enter-active {
  color: white;
  transition: color 50ms ease-in;
}

.ammoGain-enter {
  color: #00cc00 !important;
}

.ammoGain-enter.ammoLoss-enter-active {
  color: white;
  transition: color 50ms ease-in;
}

@keyframes messageFade {
    0% {
      opacity: 0;
    }  
    5% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes screenShake {
    0% {
      opacity: 0;
    }  
    5% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.horizontal-slider {
  width: 100%;
  max-width: 50vmin;
  height: 6vmin;
  line-height: 4vmin;
}

.vertical-slider {
  height: 55vmin;
  width: 6vmin;
}

.handle {
  font-size: 2.6vmin;
  text-align: center;
  font-family: 'Oswald-ExtraLight';
  color: white;
  cursor: pointer;
  background-image: url("gfx/hex.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.bar {
  position: relative;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
  opacity: 0;
}

.bar-0 {
  opacity: 1;
}

.bar.bar-1 {
  opacity: 0;
}

.bar.bar-2 {
  opacity: 0;
}

.horizontal-slider .bar {
  top: 45%;
  height: 10%;
  margin-left: 2px;
  margin-right: 4vmin;
}

.horizontal-slider .handle {
  top: 1vmin;
  width: 4.6vmin;
  height: 4vmin;
  line-height: 4vmin;
}

.highlight {
  animation-duration: 0.1s;
  animation-fill-mode: forwards;  
  animation-name: buttonHoverOut
}

.highlight:hover {
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-name: buttonHover;
}

.vertical-slider .handle {
  left: 1px;
  width: 48px;
  line-height: 50px;
}

.vertical-slider .bar {
  left: 20px;
  width: 10px;
}

#horizontal-0,
#horizontal-1, #horizontal-2, #horizontal-3,
#vertical {
  /*margin: 20px 10px;*/
}