.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gameviewport {
  margin:0;
  padding: 0;
  overflow: hidden;
}

.ui{
  position: fixed;
  width: 120%;
  height: 120%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 10;
  pointer-events: none;
}

.blur{
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url(#blur);
  filter: progid:
  DXImageTransform.Microsoft.Blur(PixelRadius='10');
  overflow: hidden;
}
